.navbar ul{
    list-style-type: none;
    background-color: rgb(4, 4, 142);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}


.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}


.navbar a:hover{
    background-color: rgb(5, 192, 192);
}


.navbar li{
    float: left;
}

h1{
    text-align: center;
    color: rgb(0, 123, 255);
}
